USE [QLNV_XiNghiep]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[MABC] [int] IDENTITY(1,1) NOT NULL,
	[TENBC] [nvarchar](255) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MACC] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[SONGAY] [int] NULL,
	[D1] [varchar](5) NULL,
	[D2] [varchar](5) NULL,
	[D3] [varchar](5) NULL,
	[D4] [varchar](5) NULL,
	[D5] [varchar](5) NULL,
	[D6] [varchar](5) NULL,
	[D7] [varchar](5) NULL,
	[D8] [varchar](5) NULL,
	[D9] [varchar](5) NULL,
	[D10] [varchar](5) NULL,
	[D11] [varchar](5) NULL,
	[D12] [varchar](5) NULL,
	[D13] [varchar](5) NULL,
	[D14] [varchar](5) NULL,
	[D15] [varchar](5) NULL,
	[D16] [varchar](5) NULL,
	[D17] [varchar](5) NULL,
	[D18] [varchar](5) NULL,
	[D19] [varchar](5) NULL,
	[D20] [varchar](5) NULL,
	[D21] [varchar](5) NULL,
	[D22] [varchar](5) NULL,
	[D23] [varchar](5) NULL,
	[D24] [varchar](5) NULL,
	[D25] [varchar](5) NULL,
	[D26] [varchar](5) NULL,
	[D27] [varchar](5) NULL,
	[D28] [varchar](5) NULL,
	[D29] [varchar](5) NULL,
	[D30] [varchar](5) NULL,
	[D31] [varchar](5) NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[MACC] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [varchar](5) NOT NULL,
	[TENCV] [nvarchar](255) NULL,
 CONSTRAINT [PK_CHUCVU_1] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANTOC](
	[MADT] [varchar](5) NOT NULL,
	[TENDT] [nvarchar](255) NULL,
 CONSTRAINT [PK_DANTOC] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HESOLUONG]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HESOLUONG](
	[MABACHSL] [int] NOT NULL,
	[MACV] [varchar](5) NOT NULL,
	[HESO] [float] NULL,
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK_HESOLUONG] PRIMARY KEY CLUSTERED 
(
	[MABACHSL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HESOLUONGND]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HESOLUONGND](
	[MABACND] [int] NOT NULL,
	[MACV] [varchar](5) NOT NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_HESOLUONGND] PRIMARY KEY CLUSTERED 
(
	[MABACND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[MAHDLD] [varchar](15) NOT NULL,
	[MANV] [varchar](10) NULL,
	[LOAIHD] [nvarchar](100) NULL,
	[TUNGAY] [datetime] NULL,
	[DENNGAY] [datetime] NULL,
	[DIADIEMLAM] [nvarchar](255) NULL,
	[CHUCVU] [varchar](5) NULL,
	[CONGVIEC] [nvarchar](255) NULL,
	[THOIGIANLAM] [float] NULL,
	[TRANGBILAODONG] [nvarchar](255) NULL,
	[HESOLUONG] [float] NULL,
	[PHUCAP] [float] NULL,
	[NGAYKY] [datetime] NULL,
 CONSTRAINT [PK_HOPDONGLAODONG] PRIMARY KEY CLUSTERED 
(
	[MAHDLD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG_THOIVIEC]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG_THOIVIEC](
	[MAHDLDTV] [varchar](15) NOT NULL,
	[MANV] [varchar](10) NULL,
	[SOQDINH] [varchar](50) NULL,
	[NGAYQDINH] [datetime] NULL,
	[LYDO] [nvarchar](255) NULL,
 CONSTRAINT [PK_HOPDONGLAODONG_THOIVIEC] PRIMARY KEY CLUSTERED 
(
	[MAHDLDTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KYHIEUCHAMCONG]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KYHIEUCHAMCONG](
	[KYHIEU] [varchar](5) NOT NULL,
	[DIENGIAI] [nvarchar](255) NULL,
 CONSTRAINT [PK_KYHIEUCHAMCONG] PRIMARY KEY CLUSTERED 
(
	[KYHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIND]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIND](
	[MALOAI] [varchar](5) NOT NULL,
	[TENLOAI] [nvarchar](255) NULL,
 CONSTRAINT [PK_LOAINGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOIQUANHE]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOIQUANHE](
	[MAQH] [int] IDENTITY(1,1) NOT NULL,
	[TENMQH] [nvarchar](255) NULL,
 CONSTRAINT [PK_MOIQUANHE] PRIMARY KEY CLUSTERED 
(
	[MAQH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TAIKHOAN] [varchar](255) NOT NULL,
	[MATKHAU] [varchar](255) NOT NULL,
	[LOAIND] [varchar](5) NULL,
	[MANV] [varchar](10) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HO] [nvarchar](35) NULL,
	[TEN] [nvarchar](20) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](255) NULL,
	[CMND] [varchar](12) NULL,
	[GIOITINH] [bit] NULL,
	[NGUYENQUAN] [nvarchar](255) NULL,
	[TINHTHANH] [varchar](2) NULL,
	[QUANHUYEN] [varchar](2) NULL,
	[QUOCTICH] [varchar](5) NULL,
	[DANTOC] [varchar](5) NULL,
	[TONGIAO] [varchar](5) NULL,
	[NGAYBATDAU] [date] NULL,
	[PHONG] [varchar](5) NULL,
	[MABACND] [int] NULL,
	[MABACHSL] [int] NULL,
	[MACV] [varchar](5) NULL,
	[BANGCAP] [int] NULL,
	[QUYDINHLUONG] [varchar](5) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHATKY]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHATKY](
	[MANK] [bigint] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [varchar](255) NOT NULL,
	[THOIGIANDANGNHAP] [datetime] NULL,
	[THOIGIANDANGXUAT] [datetime] NULL,
 CONSTRAINT [PK_NHATKY_1] PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [varchar](5) NOT NULL,
	[TENPB] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUOCTICH]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUOCTICH](
	[MAQT] [varchar](5) NOT NULL,
	[TENQT] [nvarchar](255) NULL,
 CONSTRAINT [PK_QUOCTICH] PRIMARY KEY CLUSTERED 
(
	[MAQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYDINHLUONG]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUYDINHLUONG](
	[MAQD] [varchar](5) NOT NULL,
	[LUONGTOITHIEU] [decimal](18, 0) NULL,
	[GIOCONG] [float] NULL,
	[BHXH] [float] NULL,
	[BHYT] [float] NULL,
	[BHTN] [float] NULL,
 CONSTRAINT [PK_QUYDINHLUONG] PRIMARY KEY CLUSTERED 
(
	[MAQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHQUANHUYEN]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHQUANHUYEN](
	[MATINH] [varchar](2) NOT NULL,
	[MAQH] [varchar](2) NOT NULL,
	[TENTINH] [nvarchar](255) NULL,
	[TENQH] [nvarchar](255) NULL,
 CONSTRAINT [PK_TINHQUANHUYEN] PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC,
	[MAQH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TONGIAO]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TONGIAO](
	[MATG] [varchar](5) NOT NULL,
	[TENTG] [nvarchar](255) NULL,
 CONSTRAINT [PK_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 11/10/2017 5:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MAQHGD] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](60) NULL,
	[MOIQH] [int] NULL,
	[NGAYSINH] [date] NULL,
	[NGHENGHIEP] [nvarchar](255) NULL,
 CONSTRAINT [PK_QUANHEGIADINH] PRIMARY KEY CLUSTERED 
(
	[MAQHGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HESOLUONG]  WITH CHECK ADD  CONSTRAINT [FK_HESOLUONG_CHUCVU1] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[HESOLUONG] CHECK CONSTRAINT [FK_HESOLUONG_CHUCVU1]
GO
ALTER TABLE [dbo].[HESOLUONGND]  WITH CHECK ADD  CONSTRAINT [FK_HESOLUONGND_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[HESOLUONGND] CHECK CONSTRAINT [FK_HESOLUONGND_CHUCVU]
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG] CHECK CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOPDONGLAODONG_THOIVIEC]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLAODONG_THOIVIEC_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG_THOIVIEC] CHECK CONSTRAINT [FK_HOPDONGLAODONG_THOIVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_LOAIND] FOREIGN KEY([LOAIND])
REFERENCES [dbo].[LOAIND] ([MALOAI])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_LOAIND]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BANGCAP1] FOREIGN KEY([BANGCAP])
REFERENCES [dbo].[BANGCAP] ([MABC])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BANGCAP1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DANTOC] FOREIGN KEY([DANTOC])
REFERENCES [dbo].[DANTOC] ([MADT])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DANTOC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([PHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_QUOCTICH] FOREIGN KEY([QUOCTICH])
REFERENCES [dbo].[QUOCTICH] ([MAQT])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_QUOCTICH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_QUYDINHLUONG1] FOREIGN KEY([QUYDINHLUONG])
REFERENCES [dbo].[QUYDINHLUONG] ([MAQD])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_QUYDINHLUONG1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TINHQUANHUYEN1] FOREIGN KEY([TINHTHANH], [QUANHUYEN])
REFERENCES [dbo].[TINHQUANHUYEN] ([MATINH], [MAQH])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TINHQUANHUYEN1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TONGIAO] FOREIGN KEY([TONGIAO])
REFERENCES [dbo].[TONGIAO] ([MATG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TONGIAO]
GO
ALTER TABLE [dbo].[NHATKY]  WITH CHECK ADD  CONSTRAINT [FK_NHATKY_NGUOIDUNG1] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[NGUOIDUNG] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[NHATKY] CHECK CONSTRAINT [FK_NHATKY_NGUOIDUNG1]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_QUANHEGIADINH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_QUANHEGIADINH_NHANVIEN]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_MOIQUANHE] FOREIGN KEY([MOIQH])
REFERENCES [dbo].[MOIQUANHE] ([MAQH])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_MOIQUANHE]
GO
