USE [QLNV_XiNghiep]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 11/9/2017 9:11:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[MABC] [int] IDENTITY(1,1) NOT NULL,
	[TENBC] [nvarchar](255) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MACHAMCONG] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[SONGAY] [int] NULL,
	[D1] [varchar](5) NULL,
	[D2] [varchar](5) NULL,
	[D3] [varchar](5) NULL,
	[D4] [varchar](5) NULL,
	[D5] [varchar](5) NULL,
	[D6] [varchar](5) NULL,
	[D7] [varchar](5) NULL,
	[D8] [varchar](5) NULL,
	[D9] [varchar](5) NULL,
	[D10] [varchar](5) NULL,
	[D11] [varchar](5) NULL,
	[D12] [varchar](5) NULL,
	[D13] [varchar](5) NULL,
	[D14] [varchar](5) NULL,
	[D15] [varchar](5) NULL,
	[D16] [varchar](5) NULL,
	[D17] [varchar](5) NULL,
	[D18] [varchar](5) NULL,
	[D19] [varchar](5) NULL,
	[D20] [varchar](5) NULL,
	[D21] [varchar](5) NULL,
	[D22] [varchar](5) NULL,
	[D23] [varchar](5) NULL,
	[D24] [varchar](5) NULL,
	[D25] [varchar](5) NULL,
	[D26] [varchar](5) NULL,
	[D27] [varchar](5) NULL,
	[D28] [varchar](5) NULL,
	[D29] [varchar](5) NULL,
	[D30] [varchar](5) NULL,
	[D31] [varchar](5) NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[MACHAMCONG] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [varchar](5) NOT NULL,
	[TENCV] [nvarchar](255) NULL,
 CONSTRAINT [PK_CHUCVU_1] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANTOC](
	[MADT] [varchar](5) NOT NULL,
	[TENDT] [nvarchar](255) NULL,
 CONSTRAINT [PK_DANTOC] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HESOLUONG]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HESOLUONG](
	[MABACHSL] [int] NOT NULL,
	[MACV] [varchar](5) NOT NULL,
	[HESO] [float] NULL,
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK_HESOLUONG] PRIMARY KEY CLUSTERED 
(
	[MABACHSL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HESOLUONGND]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HESOLUONGND](
	[MABACND] [int] NOT NULL,
	[MACV] [varchar](5) NOT NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_HESOLUONGND] PRIMARY KEY CLUSTERED 
(
	[MABACND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[MAHDLD] [varchar](15) NOT NULL,
	[MANV] [varchar](10) NULL,
	[LOAIHD] [nvarchar](100) NULL,
	[TUNGAY] [datetime] NULL,
	[DENNGAY] [datetime] NULL,
	[DIADIEMLAM] [nvarchar](255) NULL,
	[CHUCVU] [varchar](5) NULL,
	[CONGVIEC] [nvarchar](255) NULL,
	[THOIGIANLAM] [float] NULL,
	[TRANGBILAODONG] [nvarchar](255) NULL,
	[HESOLUONG] [float] NULL,
	[PHUCAP] [float] NULL,
	[NGAYKY] [datetime] NULL,
 CONSTRAINT [PK_HOPDONGLAODONG] PRIMARY KEY CLUSTERED 
(
	[MAHDLD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG_THOIVIEC]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG_THOIVIEC](
	[MAHDLDTV] [varchar](15) NOT NULL,
	[MANV] [varchar](10) NULL,
	[SOQDINH] [varchar](50) NULL,
	[NGAYQDINH] [datetime] NULL,
	[LYDO] [nvarchar](255) NULL,
 CONSTRAINT [PK_HOPDONGLAODONG_THOIVIEC] PRIMARY KEY CLUSTERED 
(
	[MAHDLDTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KYHIEUCHAMCONG]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KYHIEUCHAMCONG](
	[KYHIEU] [varchar](5) NOT NULL,
	[DIENGIAI] [nvarchar](255) NULL,
 CONSTRAINT [PK_KYHIEUCHAMCONG] PRIMARY KEY CLUSTERED 
(
	[KYHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIND]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIND](
	[MALOAI] [varchar](5) NOT NULL,
	[TENLOAI] [nvarchar](255) NULL,
 CONSTRAINT [PK_LOAINGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOIQUANHE]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOIQUANHE](
	[MAQH] [int] IDENTITY(1,1) NOT NULL,
	[TENMQH] [nvarchar](255) NULL,
 CONSTRAINT [PK_MOIQUANHE] PRIMARY KEY CLUSTERED 
(
	[MAQH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TAIKHOAN] [varchar](255) NOT NULL,
	[MATKHAU] [varchar](255) NOT NULL,
	[LOAIND] [varchar](5) NULL,
	[MANV] [varchar](10) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HO] [nvarchar](35) NULL,
	[TEN] [nvarchar](20) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](255) NULL,
	[CMND] [varchar](12) NULL,
	[GIOITINH] [bit] NULL,
	[NGUYENQUAN] [nvarchar](255) NULL,
	[TINHTHANH] [varchar](2) NULL,
	[QUANHUYEN] [varchar](2) NULL,
	[QUOCTICH] [varchar](5) NULL,
	[DANTOC] [varchar](5) NULL,
	[TONGIAO] [varchar](5) NULL,
	[NGAYBATDAU] [date] NULL,
	[PHONG] [varchar](5) NULL,
	[MABACND] [int] NULL,
	[MABACHSL] [int] NULL,
	[MACV] [varchar](5) NULL,
	[BANGCAP] [int] NULL,
	[QUYDINHLUONG] [varchar](5) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHATKY]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHATKY](
	[MANK] [bigint] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [varchar](255) NOT NULL,
	[THOIGIANDANGNHAP] [datetime] NULL,
	[THOIGIANDANGXUAT] [datetime] NULL,
 CONSTRAINT [PK_NHATKY_1] PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [varchar](5) NOT NULL,
	[TENPB] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUOCTICH]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUOCTICH](
	[MAQT] [varchar](5) NOT NULL,
	[TENQT] [nvarchar](255) NULL,
 CONSTRAINT [PK_QUOCTICH] PRIMARY KEY CLUSTERED 
(
	[MAQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYDINHLUONG]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUYDINHLUONG](
	[MAQD] [varchar](5) NOT NULL,
	[LUONGTOITHIEU] [decimal](18, 0) NULL,
	[GIOCONG] [float] NULL,
	[BHXH] [float] NULL,
	[BHYT] [float] NULL,
	[BHTN] [float] NULL,
 CONSTRAINT [PK_QUYDINHLUONG] PRIMARY KEY CLUSTERED 
(
	[MAQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHQUANHUYEN]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHQUANHUYEN](
	[MATINH] [varchar](2) NOT NULL,
	[MAQH] [varchar](2) NOT NULL,
	[TENTINH] [nvarchar](255) NULL,
	[TENQH] [nvarchar](255) NULL,
 CONSTRAINT [PK_TINHQUANHUYEN] PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC,
	[MAQH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TONGIAO]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TONGIAO](
	[MATG] [varchar](5) NOT NULL,
	[TENTG] [nvarchar](255) NULL,
 CONSTRAINT [PK_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 11/9/2017 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MAQHGD] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](60) NULL,
	[MOIQH] [int] NULL,
	[NGAYSINH] [date] NULL,
	[NGHENGHIEP] [nvarchar](255) NULL,
 CONSTRAINT [PK_QUANHEGIADINH] PRIMARY KEY CLUSTERED 
(
	[MAQHGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BANGCAP] ON 

INSERT [dbo].[BANGCAP] ([MABC], [TENBC], [HESO]) VALUES (1, N'1/12', NULL)
INSERT [dbo].[BANGCAP] ([MABC], [TENBC], [HESO]) VALUES (2, N'2/12', NULL)
INSERT [dbo].[BANGCAP] ([MABC], [TENBC], [HESO]) VALUES (3, N'3/12', NULL)
SET IDENTITY_INSERT [dbo].[BANGCAP] OFF
INSERT [dbo].[CHAMCONG] ([MACHAMCONG], [MANV], [THANG], [NAM], [SONGAY], [D1], [D2], [D3], [D4], [D5], [D6], [D7], [D8], [D9], [D10], [D11], [D12], [D13], [D14], [D15], [D16], [D17], [D18], [D19], [D20], [D21], [D22], [D23], [D24], [D25], [D26], [D27], [D28], [D29], [D30], [D31]) VALUES (N'CC1', N'NV95', 10, 2017, NULL, N'CN', N'8', N'8', N'8', N'8', N'8', N'8', N'CN', N'8', N'8', N'8', N'8', N'8', N'8', N'CN', N'8', N'8', N'8', N'8', N'8', N'8', N'CN', N'8', N'8', N'8', N'8', N'8', N'8', N'CN', N'8', N'8')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV1', N'Giám Đốc')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV2', N'Phó Giám Đốc')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV3', N'Kế Toán')
INSERT [dbo].[DANTOC] ([MADT], [TENDT]) VALUES (N'DT1', N'Kinh')
INSERT [dbo].[DANTOC] ([MADT], [TENDT]) VALUES (N'DT10', N'Gia Rai')
INSERT [dbo].[DANTOC] ([MADT], [TENDT]) VALUES (N'DT11', N'Ê Đê')
INSERT [dbo].[HESOLUONGND] ([MABACND], [MACV], [HESO]) VALUES (1, N'CV1', 2.5)
INSERT [dbo].[KYHIEUCHAMCONG] ([KYHIEU], [DIENGIAI]) VALUES (N'8', N'Làm 8 giờ / ngày')
INSERT [dbo].[KYHIEUCHAMCONG] ([KYHIEU], [DIENGIAI]) VALUES (N'CN', N'Chủ nhật')
INSERT [dbo].[KYHIEUCHAMCONG] ([KYHIEU], [DIENGIAI]) VALUES (N'P', N'Nghỉ có phép')
INSERT [dbo].[LOAIND] ([MALOAI], [TENLOAI]) VALUES (N'L1', N'Administrator')
INSERT [dbo].[LOAIND] ([MALOAI], [TENLOAI]) VALUES (N'L2', N'Kế Toán')
INSERT [dbo].[LOAIND] ([MALOAI], [TENLOAI]) VALUES (N'L3', N'Tra Cứu')
SET IDENTITY_INSERT [dbo].[MOIQUANHE] ON 

INSERT [dbo].[MOIQUANHE] ([MAQH], [TENMQH]) VALUES (1, N'Vợ - Chồng')
INSERT [dbo].[MOIQUANHE] ([MAQH], [TENMQH]) VALUES (2, N'Cha - Con')
INSERT [dbo].[MOIQUANHE] ([MAQH], [TENMQH]) VALUES (3, N'Mẹ - Con')
SET IDENTITY_INSERT [dbo].[MOIQUANHE] OFF
INSERT [dbo].[NGUOIDUNG] ([TAIKHOAN], [MATKHAU], [LOAIND], [MANV], [TRANGTHAI]) VALUES (N'admin', N'123', NULL, NULL, 1)
INSERT [dbo].[NGUOIDUNG] ([TAIKHOAN], [MATKHAU], [LOAIND], [MANV], [TRANGTHAI]) VALUES (N'ccc', N'ccc', N'L3', N'nv3', 1)
INSERT [dbo].[NGUOIDUNG] ([TAIKHOAN], [MATKHAU], [LOAIND], [MANV], [TRANGTHAI]) VALUES (N'tuankiet', N'kiet', NULL, NULL, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [NGAYSINH], [DIACHI], [CMND], [GIOITINH], [NGUYENQUAN], [TINHTHANH], [QUANHUYEN], [QUOCTICH], [DANTOC], [TONGIAO], [NGAYBATDAU], [PHONG], [MABACND], [MABACHSL], [MACV], [BANGCAP], [QUYDINHLUONG], [TRANGTHAI]) VALUES (N'NV1', N'Vũ Bích', N'My', CAST(0x5EE80A00 AS Date), N'828 Đông Du', N'324211720195', 0, N'758 Đặng Tất', N'02', N'21', N'QT1', N'DT24', N'TG3', CAST(0x693D0B00 AS Date), N'PB4', NULL, NULL, N'CV4', NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [NGAYSINH], [DIACHI], [CMND], [GIOITINH], [NGUYENQUAN], [TINHTHANH], [QUANHUYEN], [QUOCTICH], [DANTOC], [TONGIAO], [NGAYBATDAU], [PHONG], [MABACND], [MABACHSL], [MACV], [BANGCAP], [QUYDINHLUONG], [TRANGTHAI]) VALUES (N'NV10', N'Phạm Tín', N'Tự', CAST(0x24310B00 AS Date), N'336 Hàm Nghi', N'969164440131', 1, N'880 Đặng Tất', N'02', N'23', N'QT1', N'DT16', N'TG3', CAST(0x693D0B00 AS Date), N'PB4', NULL, NULL, N'CV4', NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [NGAYSINH], [DIACHI], [CMND], [GIOITINH], [NGUYENQUAN], [TINHTHANH], [QUANHUYEN], [QUOCTICH], [DANTOC], [TONGIAO], [NGAYBATDAU], [PHONG], [MABACND], [MABACHSL], [MACV], [BANGCAP], [QUYDINHLUONG], [TRANGTHAI]) VALUES (N'NV100', N'Lê Bá', N'Phương', CAST(0x19010B00 AS Date), N'850 Huỳnh Khương Ninh', N'640514027988', 1, N'494 Đặng Tất', N'02', N'21', N'QT1', N'DT8', N'TG2', CAST(0x693D0B00 AS Date), N'PB2', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB]) VALUES (N'PB1', N'Phòng Nhân Sự')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB]) VALUES (N'PB2', N'Phòng cắt vải')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB]) VALUES (N'PB3', N'Phòng Giám Đốc')
INSERT [dbo].[QUOCTICH] ([MAQT], [TENQT]) VALUES (N'QT1', N'Việt Nam')
INSERT [dbo].[QUOCTICH] ([MAQT], [TENQT]) VALUES (N'QT2', N'Mỹ')
INSERT [dbo].[QUOCTICH] ([MAQT], [TENQT]) VALUES (N'QT3', N'Anh')
INSERT [dbo].[QUYDINHLUONG] ([MAQD], [LUONGTOITHIEU], [GIOCONG], [BHXH], [BHYT], [BHTN]) VALUES (N'QD1', CAST(3750000 AS Decimal(18, 0)), 8, 0.08, 0.015, 0.01)
INSERT [dbo].[TINHQUANHUYEN] ([MATINH], [MAQH], [TENTINH], [TENQH]) VALUES (N'02', N'01', N'TP.HCM', N'Quận 1')
INSERT [dbo].[TINHQUANHUYEN] ([MATINH], [MAQH], [TENTINH], [TENQH]) VALUES (N'02', N'02', N'TP.HCM', N'Quận 2')
INSERT [dbo].[TINHQUANHUYEN] ([MATINH], [MAQH], [TENTINH], [TENQH]) VALUES (N'02', N'03', N'TP.HCM', N'Quận 3')
INSERT [dbo].[TONGIAO] ([MATG], [TENTG]) VALUES (N'TG1', N'Phật Giáo')
INSERT [dbo].[TONGIAO] ([MATG], [TENTG]) VALUES (N'TG2', N'Công Giáo')
INSERT [dbo].[TONGIAO] ([MATG], [TENTG]) VALUES (N'TG3', N'Cao Đài')
SET IDENTITY_INSERT [dbo].[THANNHAN] ON 

INSERT [dbo].[THANNHAN] ([MAQHGD], [MANV], [HOTEN], [MOIQH], [NGAYSINH], [NGHENGHIEP]) VALUES (1, N'NV1', N'Đỗ Nghĩa Ngân', 2, CAST(0xCDFE0A00 AS Date), N'Tiếp viên hàng')
INSERT [dbo].[THANNHAN] ([MAQHGD], [MANV], [HOTEN], [MOIQH], [NGAYSINH], [NGHENGHIEP]) VALUES (2, N'NV2', N'Bùi Huyền Kỷ', 1, CAST(0x13040B00 AS Date), N'Lập trình viên CNTT')
INSERT [dbo].[THANNHAN] ([MAQHGD], [MANV], [HOTEN], [MOIQH], [NGAYSINH], [NGHENGHIEP]) VALUES (3, N'NV3', N'Đỗ Diệp An', 3, CAST(0xB1E40A00 AS Date), N'Quản lý nhân sự')
GO
SET IDENTITY_INSERT [dbo].[THANNHAN] OFF
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HESOLUONG]  WITH CHECK ADD  CONSTRAINT [FK_HESOLUONG_CHUCVU1] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[HESOLUONG] CHECK CONSTRAINT [FK_HESOLUONG_CHUCVU1]
GO
ALTER TABLE [dbo].[HESOLUONGND]  WITH CHECK ADD  CONSTRAINT [FK_HESOLUONGND_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[HESOLUONGND] CHECK CONSTRAINT [FK_HESOLUONGND_CHUCVU]
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG] CHECK CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOPDONGLAODONG_THOIVIEC]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLAODONG_THOIVIEC_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG_THOIVIEC] CHECK CONSTRAINT [FK_HOPDONGLAODONG_THOIVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_LOAIND] FOREIGN KEY([LOAIND])
REFERENCES [dbo].[LOAIND] ([MALOAI])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_LOAIND]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BANGCAP1] FOREIGN KEY([BANGCAP])
REFERENCES [dbo].[BANGCAP] ([MABC])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BANGCAP1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DANTOC] FOREIGN KEY([DANTOC])
REFERENCES [dbo].[DANTOC] ([MADT])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DANTOC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([PHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_QUOCTICH] FOREIGN KEY([QUOCTICH])
REFERENCES [dbo].[QUOCTICH] ([MAQT])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_QUOCTICH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_QUYDINHLUONG1] FOREIGN KEY([QUYDINHLUONG])
REFERENCES [dbo].[QUYDINHLUONG] ([MAQD])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_QUYDINHLUONG1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TINHQUANHUYEN1] FOREIGN KEY([TINHTHANH], [QUANHUYEN])
REFERENCES [dbo].[TINHQUANHUYEN] ([MATINH], [MAQH])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TINHQUANHUYEN1]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TONGIAO] FOREIGN KEY([TONGIAO])
REFERENCES [dbo].[TONGIAO] ([MATG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TONGIAO]
GO
ALTER TABLE [dbo].[NHATKY]  WITH CHECK ADD  CONSTRAINT [FK_NHATKY_NGUOIDUNG1] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[NGUOIDUNG] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[NHATKY] CHECK CONSTRAINT [FK_NHATKY_NGUOIDUNG1]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_QUANHEGIADINH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_QUANHEGIADINH_NHANVIEN]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_MOIQUANHE] FOREIGN KEY([MOIQH])
REFERENCES [dbo].[MOIQUANHE] ([MAQH])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_MOIQUANHE]
GO
